.wrapper {
    margin: auto;
  width: 80%;
  border: 3px solid red;
  padding: 10px;
  align-content: center;
  display:flex;
  flex-direction: column;
  border-radius: 2rem;
}

.search {
    margin:auto;
    padding: 2rem;
}

#update_image{
    display:none;
    width:200px;
    height:200px;
}

.pokemon-details {
    display:flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 10rem; */
    /* width: 10px;
    height: 10px; */
    /* border: 1px solid green; */
}
#save_btn {
    /* display:flex; */
    display:none;
    /* width: 50%; */
    /* max-width: 10rem; */
    color:red;
    border-radius: 2rem;
    font-weight:bold;
    background: yellow;
    padding: 1rem;
    margin-bottom:1rem;
}
.pokemon-details {
    margin:auto;
    /* padding:3rem; */
}
.img {
    /* width: 5rem;
    height:5rem; */
}
#carousel {
    width: 80%;
    height:100%;
    margin:auto;
    border: 1px solid green;
    border-radius: 2rem;
    padding: 3rem;
    overflow-y:hidden;
    white-space:nowrap;
}
#pokemon-stats{
    display:none;
    margin:1rem;
    text-align: center;
}

#pokemon-height{
    display:inline-block;
}